.educationCard:hover {
  background: rgba(0, 0, 0, 0.3);
}

.educationCard {
  /* background-color: aquamarine; */
  /* } */
  /* .css-w88nxk { */
  /* background-color: rgb(255, 255, 255); */
  /* color: rgba(0, 0, 0, 0.87); */
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  /* border-radius: 4px; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, */
  /* rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px; */
  /* overflow: hidden; */
  /* max-width: 345px; */
  /* padding: 10px; */
  /* gap: 10px; */
  /* margin: 0; */
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  color: var(--dullWhite);
}
.educationCardContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.educationCard p {
  color: var(--dullWhite);
  font-size: 14px;
  /* padding-left: 20px; */
}

.educationCard a:hover {
  color: var(--brightWhite);
}

.educationCard svg {
  height: 16px;
  width: 16px;
}

.educationCardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.educationCardTitle {
  font-weight: 500;
  color: var(--brightWhite);
  font-size: 16px;
}

.educationCardLeft {
  flex: 1 0 0;
  /* letter-spacing: 0.025em; */
}
.educationCardMiddle {
  flex: 0.7 0 0;
  /* letter-spacing: 0.025em; */
}
.educationCardRight {
  flex: 1 0 0;
}
/* .educationCardTechStack {
  display: flex;
  gap: 10px;
} */
/* .educationCardTechItem {
  background: var(--techBubble);
  border-radius: 16px;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.75rem;
  color: var(--techText);
} */

.educationCardBody {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
}

/* .footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3em;
  margin: 5px;
} */
